<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Lulêh Fitness</title>

    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div class="topo">
        <h1>LULÊH FITNESS</h1>
        <p>Sua evolução começa hoje!</p>
    </div>

    <div class="menu">

        <div class="botao">
            <a href="/">Home</a>
        </div>

        <div class="botao">
            <a href="/cadastrar">Cadastrar</a>
        </div>

        <div class="botao">
            <a href="/login">Login</a>
        </div>

    </div>

    <div class="conteudo">

        <div class="col2">

            <h2>Sobre a Lulêh Fitness</h2>

            <p>
                A Lulêh Fitness é o lugar ideal para cuidar da saúde,
                melhorar o condicionamento físico e alcançar seus objetivos.
            </p>

            <div class="beneficios">

                <img src="../static/img/fotoacademia.jpeg" width="300" height="200">

                <div class="texto">
                    <h3>Benefícios</h3>

                    <ul>
                        <li>Treinos personalizados</li>
                        <li>Acompanhamento profissional</li>
                        <li>Área climatizada</li>
                        <li>Planos acessíveis</li>
                        <li>Aulas de dança e funcional</li>
                    </ul>
                </div>

                <img src="../static/img/academiafoto.jpeg" width="300" height="200">

            </div>

        </div>
    </div>

</body>

</html>